<!doctype html>
{% load static %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Add Title Here {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css'%}" />
    <script src="{% static 'js/vendor/modernizr.js'%}"></script>
  </head>
  <body>

<div class="fixed nav-down" id="myHeader">
 <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Caterpilla</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><a href="#">Menu</a></li>
      <li class="has-dropdown">
        <a href="#">More</a>
        <ul class="dropdown">
          <li><a href="#">Menu</a></li>
          <li><a href="#">Menu</a></li>
        </ul>
      </li>
    </ul>

  </section>
</nav> 
</div>
    
    <div class="row" style="margin-top:50px;">
      {% block body %}
        Override Here
      {% endblock %}
      </div>
    
    <script src="{% static 'js/vendor/jquery.js'%}"></script>
    <script src="{% static 'js/foundation/foundation.js'%}"></script>
    <script src="{% static 'js/foundation/foundation.topbar.js'%}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
