{% extends 'base.html' %}

{% block title %} Okyere - Caterpillar {% endblock %}

{% block body %} 

 <div class="small-12 large-8 large-centered panel columns">

        <h2>Add Introductory preamble here</h2>
        <p>
          Add paragraph content here
        </p>
      </div>

<table>
  <tbody>
    <tr>
        {% for row in data %}
          <tr>
          {% for column in row %}
            <td> {{ column }} </td>
          {% endfor %}
          </tr>
        {% endfor %}
    </tr>
  </tbody>
</table>

      <div class="small-12 large-8 columns large-centered">
      <form action="." method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_p }}
          <!-- <div class="row">
            <div class="large-12 columns">
              <label>Select Group</label>
              <select>
                <option value="husker">Group Name</option>
                <option value="starbuck">Group Name</option>
                <option value="hotdog">Group Name</option>
                <option value="apollo">Group Name</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Add file</label>
              <input type="file" />
            </div>
          </div> -->
          <div>
            <input type="submit" value="Let's Go!" class="button" />
            <input type="reset" class="button secondary tiny" value="Clear" />
          </div>
        </form>

        </div>
{% endblock %}